.header {
    height: 20rem !important;
 }
 body{
     height: 100vh;
 }
 .navbar-dark .navbar-toggler-icon {
     background: url(https://mdbootstrap.com/img/svg/hamburger6.svg?color=000) !important;
 }
 .color{
     color: #C025E7 !important;
 }
 .box{
     color: #F9B035;
 }
 .navbar-dark .navbar-brand {
    color: #fff;
    font-size: 2rem;
}

.container .signin {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 
 .para{
     font-size: small;
 }
 .btn1 a{
     background: linear-gradient(to right,#6149CD,#A654AC,#EA5F8B);
     width: 18rem !important;
     border-radius: 50px;
     padding: 0.5rem;
     text-decoration: none;
     color: #fff; 
 }
 .btn-1 a:last-child{
     margin-left: 2rem !important;
 }
 .img > img {
     margin: 0 50px !important;
     width: 68vw !important;
 }
 
 .image > img {
    width: 41vw !important;
    margin-right: 4rem !important;
}
 .container >.imag > img{
     width: 81vw !important;
     margin: 0px 22px !important
 }
 
 .btn-F a{
     /* width: 22vw !important; */
     padding: 0.5rem;
     border-radius: 50px;
     text-decoration: none;
     color: #fff;
     background: linear-gradient(to right, #5735F9, #924EF9, #F967DC);
 }
 .btn-F a:last-child{
     background: transparent !important;
     border: 1px solid rgb(221, 186, 232);
     color: #C025E7;
 }
 button.btn.btn-primary.btn-block.mb-4 {
     width: 100% !important;
     border-radius: 50px !important;
     border: none !important;
     background: linear-gradient(to right, #5735F9, #924EF9, #F967DC);
 }
 .ima.d-none.d-md-block.d-lg-block > img {
     width: 42vw !important;
 }
 .section {
    width: 81vw !important;
}
 hr:not([size]) {
     height: 2px !important;
     width: 3rem !important;
 }
 .imag img {
     max-width: 72vw !important;
 }
 .ima img {
    width: 100vw !important;
}

.case1 {
    margin: 79px 20px !important;
}
hr.line {
    width: 39vw !important;
}
li.nav-item {
    padding-right: 2rem;
}
li.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
li.nav-item a:hover,
.signin:hover{
    color: #C025E7;
}

.btna {
    padding: 12px 40px;
    background: linear-gradient(to right, #5735F9, #924EF9, #F967DC);
}

.btna1 {
    border: none !important;
    background: #924EF9 !important;
    padding: 8px !important;
}

@media (min-width: 992px){
    .ima img {
        width: 50vw !important;
    }
    .section {
        width: 46vw !important;
    }
    .btn-F a ,
    .form-outline.mb-4 {
        /* width: 46vw !important; */
        border: none !important;
    }
    .welcome {
        width: 50vw !important;
        margin-left: 3rem !important;
    }
    .image1 img{
        width: 84vw !important;
        margin: 0 !important;
    }
    .btn1 a{
        width: 22vw !important;
    }
}
@media (min-width: 768px){
    .ima img {
        width: 50vw !important;
    }
    .section {
        width: 46vw !important;
    }
    .btn-F a,
    .form-outline.mb-4 {
        /* width: 46vw !important; */
        border: none !important;
    }
    .welcome {
        width: 50vw !important;
        margin-left: 3rem !important;
    }
    .image1 img {
        width: 39vw !important;
        margin-top: 2rem !important;
    }
    .btn1 a{
        width: 22vw !important;
    }
}



.form-control {
	margin-bottom: 10px !important;
	padding-bottom: 20px !important;
	position: relative !important;
    /* border: none !important; */
}

.form-control label {
	display: inline-block !important;
	margin-bottom: 5px !important;
}

.form-control input#name,
input#name,
.form-control input#email,
input#email ,
.form-control input#password,
input#password,
 input#password-verify,
input#password-verify  {
    /* border: 2px solid #f0f0f0 !important; */
    outline: none;
    border-radius: 4px !important;
    display: block !important;
    font-family: inherit !important;
    font-size: 14px !important;
    padding: 10px !important;
    width: 100% !important;
}

.form-control input:focus {
	outline: 0 !important;
	border-color: #777 !important;
}

.form-control.success input {
	border-color: #2ecc71 !important;
}

.form-control.error input {
	border-color: #e74c3c !important;
}
.form-control small {
	color: #e74c3c !important;
	position: absolute !important;
	bottom: 0;
	left: 0;
	visibility: hidden !important;
}
.small, small {
    font-size: .875em;
    color: red;
}

.form-control.error small.error {
	visibility: visible;
}

.height {
    height: 72.8vh !important;
}

